#login-section {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Vertical layout */
  background-color: white; /* White background color */
  gap: 20px; /* Gap between elements inside the card */
  max-width: 1000px; /* Maximum width */
  width: 50vw; /* 70% of the viewport width */
  height: auto; /* Automatic height adjustment */
  border-radius: 10px; /* Rounded corners */
  transition: 0.5s; /* Smooth transition effect */
  padding: 20px; /* Padding inside the card */
}

.tab-links {
  background-color: white;
  border: none;
  color: rgb(28, 108, 155);
  cursor: pointer;
  padding: 10px;
  transition: 0.25s ease-in-out;
  font-weight: bold;
  width: 100px;
  align-self: center;
  font-size: 1rem;
}

#login-buttons {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.tab-links:hover {
  background-color: rgba(28, 108, 155, 0.3);
}

.tabs {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: flex-start;
}

.active {
  background-color: rgba(28, 108, 155, 0.3);
  border-bottom: 2px solid rgb(28, 108, 155);
}
