.search-container {
  display: flex; /* Use flexbox layout */
  flex-direction: row; /* Horizontal layout */
  background-color: rgb(53, 140, 192); /* White background color */
  color: white;
  gap: 30px; /* Gap between elements inside the card */
  max-width: 1200px; /* Maximum width */
  width: 80vw; /* 80% of the viewport width */
  height: 100px; /* Fixed height */
  border-radius: 10px; /* Rounded corners */
  transition: 0.5s; /* Smooth transition effect */
  padding: 20px; /* Padding inside the card */
  box-sizing: border-box; /* Include padding in the width */
  box-shadow: 0 0 4px rgba(33, 33, 33, 0.4); /* Shadow effect */
}

#best-selling-offers {
  margin-top: 20px; /* Top margin */
  display: flex; /* Use flexbox layout */
  flex-wrap: wrap; /* Enable wrapping of items */
  gap: 45px; /* Gap between items */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  width: 100%; /* Full width of the container */
  max-width: 1000px; /* Maximum width to control layout */
  height: auto; /* Auto height to accommodate content */
}

form {
  display: flex;
  flex-direction: row;
}
