/* Container for the offer card */
#offer {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Vertical layout */
  background-color: white; /* White background color */
  gap: 20px; /* Gap between elements inside the card */
  max-width: 1000px; /* Maximum width */
  width: 70vw; /* 70% of the viewport width */
  height: auto; /* Automatic height adjustment */
  border-radius: 10px; /* Rounded corners */
  transition: 0.5s; /* Smooth transition effect */
  padding: 20px; /* Padding inside the card */
}

/* Heading styles within the offer card */
#offer h4,
h5,
h6 {
  margin: 0px; /* Remove default margin */
  margin-left: 10px; /* Left margin */
  margin-right: 10px; /* Right margin */
  color: #002147; /* Text color */
  letter-spacing: 2px; /* Spacing between letters */
}

/* Paragraph styles within the offer card */
#offer p {
  margin: 0px; /* Remove default margin */
  margin-left: 10px; /* Left margin */
  margin-right: 10px; /* Right margin */
}

/* Specific style for h4 in the offer card */
#offer h4 {
  font-size: 1.4rem; /* Font size */
}

/* Star rating style */
.star-rating {
  color: gold; /* Gold color for stars */
  -webkit-text-stroke-width: 0.75px; /* Stroke width */
  -webkit-text-stroke-color: black; /* Stroke color */
  font-size: 1.2rem; /* Font size */
}

/* Offer price style */
.offer-price {
  color: rgb(53, 140, 192); /* Text color */
  font-weight: bold; /* Bold font weight */
  letter-spacing: 2px; /* Spacing between letters */
  font-size: 1.2rem; /* Font size */
  font-weight: 900; /* Extra bold font weight */
  padding: 0px; /* Remove padding */
  margin: 0px; /* Remove margin */
}

/* Travel description style */
.travel-description {
  text-align: left; /* Left-aligned text */
}

/* Travel dates style */
.travel-dates {
  font-size: 1.1rem; /* Font size */
}

/* Container for the slideshow */
.slideshow-container {
  max-width: 800px; /* Set maximum width of the container */
  display: inline; /* Inline display */
  position: relative; /* Relative positioning for absolute children */
}

/* Content container style */
.content-container {
  width: 100%; /* Full width */
  align-items: center; /* Center alignment */
  margin-top: 10px; /* Top margin */
}

/* Dot container style */
.dot-container {
  text-align: center; /* Center-aligned text */
  position: relative; /* Relative positioning */
  bottom: 25px; /* Position from the bottom */
}

/* Styles for the holiday images */
.holiday-image {
  width: 600px; /* Set width of the images */
  height: 350px; /* Set height of the images */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid rgb(53, 140, 192); /* Border color */
}

/* Hide the slides by default */
.mySlides {
  display: none; /* Do not display slides initially */
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer; /* Cursor changes to pointer on hover */
  padding: 16px; /* Padding inside the buttons */
  color: white; /* Text color */
  font-weight: bold; /* Bold text */
  font-size: 18px; /* Font size */
  transition: 0.6s ease; /* Smooth transition effect */
  user-select: none; /* Disable text selection */
}

/* Arrow container style */
.arrow-container {
  position: relative; /* Relative positioning */
  bottom: 200px; /* Position from the bottom */
  width: 100%; /* Full width */
  display: flex; /* Flexbox layout */
  justify-content: space-between; /* Space between elements */
}

/* Position the next button to the right */
.next {
  position: relative; /* Relative positioning */
  right: 25px; /* Position from the right */
}

/* Position the previous button to the left */
.prev {
  position: relative; /* Relative positioning */
  left: 25px; /* Position from the left */
}

/* The dots current image indicators */
.dot {
  cursor: pointer; /* Cursor changes to pointer on hover */
  height: 15px; /* Height of the dots */
  width: 15px; /* Width of the dots */
  margin: 0 2px; /* Margin between dots */
  background-color: rgb(95, 182, 191); /* Default background color */
  border-radius: 50%; /* Make the dots circular */
  display: inline-block; /* Inline-block display */
  transition: background-color 0.6s ease; /* Smooth background color transition */
}

/* Active dot and dot on hover */
.active,
.dot:hover {
  background-color: rgb(53, 140, 192); /* Darker background color */
}

/* Fading animation for the slides */
.fade {
  animation-name: fade; /* Apply fade animation */
  animation-duration: 1.5s; /* Duration of the animation */
}

/* Keyframes for the fade animation */
@keyframes fade {
  from {
    opacity: 0.4; /* Start with partial opacity */
  }
  to {
    opacity: 1; /* End with full opacity */
  }
}

/* Additional information container */
.additional-info {
  display: flex; /* Flexbox layout */
  flex-direction: row; /* Horizontal layout */
  justify-content: space-evenly; /* Space elements evenly */
  gap: 40px; /* Gap between elements */
  margin-top: 10px; /* Top margin */
}

/* Activities section */
.activities,
.facilities {
  display: flex; /* Flexbox layout */
  flex-direction: column; /* Vertical layout */
  text-align: center; /* Center-aligned text */
  padding: 5px; /* Padding */
}

/* Heading styles within activities and facilities */
.activities h5,
.facilities h5 {
  font-size: 1.1rem; /* Font size */
}

/* Unordered list styles */
ul {
  list-style: none; /* Remove default list style */
  padding: 0; /* Remove default padding */
}

/* Media query for large screens */
@media (min-width: 1200px) {
  .holiday-image {
    width: 800px; /* Set width of the images */
    height: 466.67px; /* Set height of the images */
  }

  .arrow-container {
    bottom: 272px; /* Position from the bottom */
  }

  .next {
    right: 120px; /* Position from the right */
  }

  .prev {
    left: 120px; /* Position from the left */
  }
}

/* Media query for medium screens */
@media (max-width: 1199px) {
  .holiday-image {
    width: 700px; /* Set width of the images */
    height: 408.33px; /* Set height of the images */
  }

  .arrow-container {
    bottom: 230px; /* Position from the bottom */
  }

  .next {
    right: 60px; /* Position from the right */
  }

  .prev {
    left: 60px; /* Position from the left */
  }
}

/* Media query for smaller medium screens */
@media (max-width: 1050px) {
  .holiday-image {
    width: 600px; /* Set width of the images */
    height: 350px; /* Set height of the images */
  }

  .arrow-container {
    bottom: 200px; /* Position from the bottom */
  }

  .next {
    right: 55px; /* Position from the right */
  }

  .prev {
    left: 55px; /* Position from the left */
  }
}

/* Media query for small screens */
@media (max-width: 900px) {
  .holiday-image {
    width: 550px; /* Set width of the images */
    height: 320.83px; /* Set height of the images */
  }
}

/* Media query for extra small screens */
@media (max-width: 820px) {
  .holiday-image {
    width: 475px; /* Set width of the images */
    height: 277.08px; /* Set height of the images */
  }

  .arrow-container {
    bottom: 180px; /* Position from the bottom */
  }

  .next {
    right: 35px; /* Position from the right */
  }

  .prev {
    left: 35px; /* Position from the left */
  }
}

/* Media query for tiny screens */
@media (max-width: 700px) {
  .holiday-image {
    width: 400px; /* Set width of the images */
    height: 233.33px; /* Set height of the images */
  }

  .arrow-container {
    bottom: 150px; /* Position from the bottom */
  }

  .next {
    right: 30px; /* Position from the right */
  }

  .prev {
    left: 30px; /* Position from the left */
  }
}

/* Media query for very small screens */
@media (max-width: 600px) {
  .holiday-image {
    width: 300px; /* Set width of the images */
    height: 175px; /* Set height of the images */
  }

  .arrow-container {
    bottom: 120px; /* Position from the bottom */
  }

  .next {
    right: 45px; /* Position from the right */
  }

  .prev {
    left: 45px; /* Position from the left */
  }
}

/* Media query for extra small screens */
@media (max-width: 500px) {
  .arrow-container {
    bottom: 120px; /* Position from the bottom */
  }

  .next {
    right: 15px; /* Position from the right */
  }

  .prev {
    left: 15px; /* Position from the left */
  }
}

/* Media query for ultra small screens */
@media (max-width: 450px) {
  .holiday-image {
    width: 250px; /* Set width of the images */
    height: 145.83px; /* Set height of the images */
  }

  .arrow-container {
    bottom: 105px; /* Position from the bottom */
  }

  .next {
    right: 15px; /* Position from the right */
  }

  .prev {
    left: 15px; /* Position from the left */
  }
}
