html,
body {
  overscroll-behavior: none;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Lato", sans-serif;
  background-color: #b4c2d3;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
  margin-top: 80px;
}

footer {
  display: flex;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 1rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: rgb(53, 140, 192);
}

h1 {
  font-family: "Railway", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "lato", sans-serif;
}

.header {
  background-color: rgb(53, 140, 192);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  padding-top: 10px;
  padding-bottom: 10px;
}

.header li a {
  display: block;
  padding: 20px 20px;
  color: white;
  text-shadow: -0.75px 0 black, 0 0.75px black, 0.75px 0 black, 0 -0.75px black;
  text-decoration: none;
  transition: all 0.45s;
  font-size: 1rem;
}

.header li a:hover {
  background-color: rgb(2, 75, 118);
}

.header .menu-btn a:hover::after {
  width: 100%;
  left: 0;
}

.header .menu-btn a:hover {
  color: white;
}

.header .logo {
  cursor: default;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  color: #cbe6f0;
  font-family: "Pacifico", cursive;
  background-color: rgb(95, 182, 191);
  height: 30px;
  width: 10px;
  top: 10px;
  left: 40px;
  border-radius: 50%;
  border: 1px solid black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: bolder;
  font-size: 1.8rem;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  top: 12px;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.header.scrolled {
  background-color: rgb(53, 140, 192);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 1600px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .header {
    background-color: rgb(53, 140, 192);
  }

  .header li {
    float: left;
  }
  .header li a {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 20px;
    margin-left: 20px;
    bottom: 15px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    padding-right: 40px;
  }
  .header .menu-icon {
    display: none;
  }

  .header ul li {
    top: -10px;
    list-style: none;
    display: inline-block;
    padding-bottom: 2px; /*the space for the gradient*/
    background: linear-gradient(#cbe6f0, #cbe6f0) center bottom; /*OR bottom right OR bottom left*/
    background-size: 0% 2px; /*width:0% height:2px*/
    background-repeat: no-repeat; /* Don't repeat !!*/
    transition: all 0.45s;
  }

  .header ul li a {
    color: #ffffff;
    text-decoration: none;
  }

  .header ul li:hover {
    background-size: 100% 2px; /*width:100% height:2px*/
  }

  .header li a:hover {
    background-color: rgba(255, 255, 255, 0);
  }
}
